body {
    display: flex;
    background-color: rgb(173, 72, 72);
    color: azure;
    justify-content: space-between;
    padding: 50px;
    gap: 200px;
}

.all-movies li{

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    font-weight: 200;
}

.movie-display h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}

.movie-details h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}